<div class="container py-3">
  <h1><strong><%= @restaurant.name %></strong></h1>
  <h2><%= @restaurant.category.capitalize %></h2>
</div>

<div class="container">
  <h3>
    <ul>
      <li><strong>Address:</strong> <%= @restaurant.address %></li>
      <li><strong>Phone:</strong> <%= @restaurant.phone_number %></li>
    </ul>
  </h3>
  <h4><%= link_to "Back", restaurants_path, class: "btn btn-primary" %></h4>
  <hr>

  <h3><strong>Reviews</strong></h3>
  <h4><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></h4>
  <h3>Average rating: <%= @avg_rating %></h3>
  <ul>
    <% @reviews.each do |review| %>
    <li><%= review.content %></li>
    <% end %>
  </ul>
</div>

